.container{
  background-color: #3f584e;
  margin: 0;
  padding: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none; /* remove scrollbar space /
  background: transparent; / optional: just make scrollbar invisible */
  }

